@import '@angular/material/prebuilt-themes/indigo-pink.css';
.book-form{
    width: 500px;

}
.full-width{
    width:90%;
}
.short-width{
    width:50%;
}
.card-width{
    margin:auto;
    margin-bottom: 15px;
    width: 95%;
}
.small-word{
    font-size: 10px; 
}
.text-right{
    margin: 0 0 0 auto;
}