<mat-card class = "card-width">
  <mat-card-content >
    <mat-card-title >書籍登録</mat-card-title>
    <form class="book-form">
      <mat-form-field class="full-width">
        <mat-label>書籍名</mat-label>
        <input matInput name ="bookName" [(ngModel)]="newbook.name">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>あらすじ</mat-label>
        <textarea matInput name ="bookDetail"[(ngModel)]="newbook.detail" placeholder=" "></textarea>
      </mat-form-field>
      <mat-form-field class="short-width">
        <mat-label>評価点</mat-label>
        <input matInput name ="bookEvaluation"[(ngModel)]="newbook.evaluation">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="addBook()">追加</button>
  </mat-card-actions>
</mat-card>
<div *ngIf="books.length > 0; else noBooks">
  <div *ngFor="let book of books">
    <app-card [bookcard]="book"></app-card> 
  </div>
</div>
<ng-template #noBooks>
  <p class = "nodeta">データがありません</p>
</ng-template>