<mat-toolbar color="primary">
  <span>読んだ本 </span>
  <span class="text-right">一覧</span> 

</mat-toolbar>

<br>

<mat-card class = "card-width">
  <mat-card-content >
    <mat-card-title >書籍登録</mat-card-title>
 
    <form class="book-form">
      <mat-form-field class="full-width">
        <mat-label>書籍名</mat-label>
        <input matInput>
      </mat-form-field>
    
      <mat-form-field class="full-width">
        <mat-label>あらすじ</mat-label>
        <textarea matInput placeholder=" "></textarea>
      </mat-form-field>

      <mat-form-field class="short-width">
        <mat-label>評価点</mat-label>
        <input matInput>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary">追加</button>
  </mat-card-actions>
 
</mat-card>
<br>
<div *ngFor="let book of books">
<mat-card class = "card-width"  >
  <mat-card-content >
    <mat-card-title >{{book.name}}</mat-card-title>
    <p class="small-word">
      {{book.detail}}<br>
      {{book.evaluation}}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn">削除</button>
  </mat-card-actions>
  
</mat-card>
<br>
</div>
    <!-- <mat-card-title >アンドロイドは電気羊の夢を見るか?</mat-card-title>
    <p class="small-word">
    第三次大戦後の未来、サンフランシスコを舞台に賞金稼ぎのリック・デッカードが、火星から逃亡してきた8体のアンドロイドを「処理」するというあらすじ<br>
    評価: 90点
  </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn">削除</button>
  </mat-card-actions>
</mat-card>
<br>
<mat-card class = "card-width">
  <mat-card-content >
    <mat-card-title >岩田さん: 岩田聡はこんなことを話していた。</mat-card-title>
    <p class="small-word">
      任天堂の元社長、岩田聡さんのことばをまとめた本<br>
      評価: 90点

  </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn">削除</button>
  </mat-card-actions>
</mat-card>



<mat-card>
    <mat-card-header>
        <mat-card-title>読んだ本</mat-card-title>
    </mat-card-header>

    <mat-card-title>書籍登録</mat-card-title>
    <mat-card-content>
      
        <mat-form-field>
          <mat-label>書籍名</mat-label>
          <input matInput [(ngModel)]="bookTitle" name="booktitle" >
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>あらすじ</mat-label>
          <textarea matInput [(ngModel)]="bookarasuji" name="bookarasuji" ></textarea>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>評価点</mat-label>
          <input matInput type="number" [(ngModel)]="rate" name="rate" >
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit">追加</button>
    
    </mat-card-content>
</mat-card> -->
