book-app
<!-- 


<mat-card>
    <mat-card-header>
        <mat-card-title>読んだ本</mat-card-title>
    </mat-card-header>

    <mat-card-title>書籍登録</mat-card-title>
    <mat-card-content>
      
        <mat-form-field>
          <mat-label>書籍名</mat-label>
          <input matInput [(ngModel)]="bookTitle" name="booktitle" >
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>あらすじ</mat-label>
          <textarea matInput [(ngModel)]="bookarasuji" name="bookarasuji" ></textarea>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>評価点</mat-label>
          <input matInput type="number" [(ngModel)]="rate" name="rate" >
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit">追加</button>
    
    </mat-card-content>
</mat-card> -->
